/notebooks
/build
/dist
__pycache__
.vscode
*.swp
.DS_Store
.mypy_cache/
/outputs
/cache
/data
/features_models
full_example.TextGrid
expected_full_example.csv
expected_actual_*.csv
resources
.ipynb_checkpoints
.idea/
.coverage
/misc
*.egg-info
draft_notebooks/
submitit_*/
myReproduction/wav2vec2XLSR53.pth
myReproduction/S01.npz
myReproduction/S01.npy.npz
myReproduction/bf21a9e8fbc5a384.pkl
myReproduction/018687e172ebb6c4.npy
